<!DOCTYPE html>
<html>

<head>
    <title>PDF Upload</title>
</head>

<body>
    <h1>Upload a PDF File</h1>
    <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <input type="submit" value="Upload">
    </form>
    <script>
        // Display a message when the file is successfully downloaded
        function handleDownload() {
            alert('File downloaded successfully!');
        }
    </script>
</body>

</html>